<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="description" content="{{ site.description }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">

    <title>{{ site.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/trojette/numascpo.net">Voir sur GitHub</a>

          <h1 id="project_title">{{ site.title }}</h1>
          <h2 id="project_tagline"></h2>

            <div class="barrehaut">
                    <div class="droite">
                            <ul class="navigation menu">
                                    {% for node in site.toplinks %}
                                    {% capture node_name %}/{{ node }}/index.html{% endcapture %}
                                    {% if node_name == page.url %}
                                    <li class="active"><a href="/{{node}}/index.html" class="active">{{node | capitalize}}</a></li>
                                    {% else %}
                                    <li><a href="/{{node}}/index.html">{{node | capitalize}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                            </ul>
                    </div>
                    <ul class="navigation menu">
                            <li>
                            <a href="/"> Accueil</a>
                            </li>
                    </ul>
            </div>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          {{ content }}


    <!-- SHARING -->
    <hr />
     <!-- FB -->
       <p class="copyright">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.url }}"
         target="_blank" ><img
         src="https://www.facebook.com/images/fb_icon_325x325.png"
         width="16" alt="Partager sur FB" /></a>

       <a target="_blank" href="https://twitter.com/share?=url={{ site.url }}/{{ page.url }}
                 &amp;via=numascpo&amp;text={{ page.title }}&amp;hashtags=RevNumaScPo" ><img
         src="https://twitter.com/favicons/favicon.ico"
         width="16" alt="Partager sur Twitter" /></a>

       <a href="https://plus.google.com/share?url={{ site.url }}/{{ page.url }}"
          onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
          return false;" target="_blank"><img
          src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Partager sur Google+"/></a>

       </p>
      </section>



    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Site géré par <a
        href="https://github.com/trojette">adn</a> avec <a
        href="http://jekyllrb.com/">Jekyll</a> - Contenu sous
        <a href="/licence">Licence ouverte</a> (sauf exception)
        - Thème hybride (GitHub Pages et Bootstrap)</p> <p
        class="copyright">Validation <a target="_blank" class="footer"
        href="http://validator.w3.org/check/referer">XHTML</a>
        et <a class="footer" target="_blank"
        href="http://jigsaw.w3.org/css-validator/validator?uri={{ site.url }}/css/stylesheet.css
               &amp;usermedium=all">CSS</a></p>
      </footer>

    </div>

  </body>
</html>
