<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="description" content="{{ site.description }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">

    <title>{{ site.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/trojette/numascpo.net">Voir sur GitHub</a>

          <h1 id="project_title">{{ site.title }}</h1>
          <h2 id="project_tagline"></h2>

            <div class="barrehaut">
                    <div class="droite">
                            <ul class="navigation menu">
                                    {% for node in site.toplinks %}
                                    {% capture node_name %}/{{ node }}/index.html{% endcapture %}
                                    {% if node_name == page.url %}
                                    <li class="active"><a href="/{{node}}/index.html" class="active">{{node | capitalize}}</a></li>
                                    {% else %}
                                    <li><a href="/{{node}}/index.html">{{node | capitalize}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                            </ul>
                    </div>
                    <ul class="navigation menu">
                            <li>
                            <a href="/"> Accueil</a>
                            </li>
                    </ul>
            </div>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          {{ content }}
      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p style="text-align: center;" class="copyright">Site géré par <a href="https://github.com/trojette">adn</a> -
        Contenu sous <a href="/licence">Licence ouverte</a> - Thème hybride (GitHub Pages et Bootstrap)</p>
        <p style="text-align: center;" class="copyright">Validation <a class="footer" href="http://validator.w3.org/check/referer">XHTML</a> et <a class="footer" href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.numascpo.net%2F/css/stylesheet.css&amp;usermedium=all">CSS</a></p>
      </footer>
    </div>

  </body>
</html>
